@keyframes serviceContent {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes menu-animation {
  from {
    opacity: 0;
    right: -200px;
  }

  to {
    opacity: 0.97;
    right: 0;
  }
}
