@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$bg-light-clr: #f5f9ff;
$bg-lighter-clr: #4b535b;
$bg-dark-clr: #2d3233;
$main-green-clr: #64a84d;
$hover-green-cl: #71b15c;
$white-clr: #eee;
$dark-txt-clr: #333;
$text-clr: #fffadc;
$ligher-txt-clr: #cfe4ff;
